body{
margin:0;
background:black;
color:white;
font-family:Poppins;
}

canvas{
position:fixed;
z-index:-1;
}

nav{
display:flex;
justify-content:space-between;
padding:15px 40px;
background:#111;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

span{
color:#00ffff;
}

section{
padding:50px 10%;
}

.card{
background:#111;
padding:20px;
margin:20px 0;
border-radius:10px;
cursor:pointer;
transition:.3s;
}

.card:hover{
box-shadow:0 0 15px cyan;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.grid img{
width:100%;
cursor:pointer;
border-radius:10px;
transition:.3s;
}

.grid img:hover{
transform:scale(1.05);
}

.btn{
padding:12px 25px;
background:cyan;
border:none;
cursor:pointer;
}

input,textarea{
width:100%;
margin:10px 0;
padding:10px;
}

/* Modal */
.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
}

.modal span{
position:absolute;
top:20px;
right:40px;
font-size:30px;
cursor:pointer;
}

.modal img{
width:60%;
margin:10% auto;
display:block;
}
